@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome to Flex Appeal</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="\images\class1.png" class="card-img-top" alt="Class 1">
                    <div class="card-body">
                        <h5 class="card-title">Classes</h5>
                        <p class="card-text">We run a lot of different classes here to make sure that people can find exactly what they are looking for.</p>
                        <a href="@Url.Action("Index", "", new { area = "Customer" })" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\images\class2.png" class="card-img-top" alt="Class 2">
                    <div class="card-body">
                        <h5 class="card-title">Book Now</h5>
                        <p class="card-text">Book now and get our best deals on classes. Offer ends 25/06/23.</p>
                        <a href="@Url.Action("Index", "Booking", new { area = "Customer" })" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
