@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background-image: url('/images/gymbg.jpg');
        background-size: cover;
        background-position: center;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.8); 
        width: calc(50% - 15px);
        box-sizing: border-box;
    }

    .card-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-button {
        display: flex;
        justify-content: flex-end;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }

    .form-group {
        position: relative;
        margin-bottom: 15px;
    }

    .custom-input {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

</style>

<div class="login-container">
    <div class="card">
        <h1>Login Here</h1>
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control custom-input" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control custom-input" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox mt-2">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary custom-btn">Log in</button>
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="mt-3 w-100 btn btn-lg btn-danger custom-btn">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="w-100 btn btn-lg btn-success custom-btn">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="w-100 btn btn-lg btn-secondary custom-btn">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

